<html>
<head>
<!-- Required meta tags -->
		<meta content="text/html" charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="footer" th:fragment="footer">
		<div class="bg-dark bg-gradient text-white text-center pt-5">
			<div class="row m-2">
				<div class="col-md-4">
					<h5>EMPRESA</h5>
					<p class="text-start fs-6">Es una aplicación
						que se puede descargar de forma gratuita y se diseñó pensando en
						las pequeñas empresas y negocios. Crea un catálogo para mostrar
						tus productos y servicios. Comunícate fácilmente con los clientes
						mediante herramientas que te permitan automatizar, ordenar y
						responder mensajes de forma rápida.</p>
				</div>
				<div class="col-md-4">
					<h5>DESCARGAR</h5>
					<div class="fs-6">
						<a class="nav-link" href="#">&zigrarr; For Android</a> <a
							class="nav-link" href="#">&zigrarr; For iOS</a> <a
							class="nav-link" href="#">&zigrarr; For Windows</a> <a
							class="nav-link" href="#">&zigrarr; For Mac</a> <a
							class="nav-link" href="#">&zigrarr; For Linux</a>
					</div>
				</div>
				<div class="col-md-4">
					<h5>RECURSOS</h5>
					<div class="fs-6">
						<span>Consulte nuestro <a class="nav-link" href="#">Centro
								de ayuda</a> <span>Mantente informado</span><a class="nav-link"
							href="#">Twitter</a> <span>Siguenos en</span><a class="nav-link"
							href="#">Facebook</a> <span>Contribuye en</span><a
							class="nav-link" href="#">GitHub</a> <span>Ayudanos en</span><a
							class="nav-link" href="#">PayPal</a>
					</div>
				</div>
			</div>
			<div class="p-2">
				<h6 class="text-center">2021 &copy; Programacion Visual</h6>
			</div>
		</div>

		<!--Bootstrap JavaScript-->
		<script type="text/javascript"
			th:src="@{/webjars/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js}"></script>
	</div>
</body>
</html>