<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta content="text/html" charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<div th:insert="layout/head :: myhead"></div>
<title>Nuevo Cliente</title>
</head>
<body>
	<div th:insert="layout/header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 mt-4 mb-4">
				<h1 class="text-center pb-3">Nuevo Cliente</h1>
				<div class="row d-flex justify-content-center">
					<div class="col-md-8 border border-2 rounded pb-3">
						<h2 class="text-center pt-3 pb-3">Beneficios del Cliente</h2>
						<form th:action="@{/beneficio/agregar}" th:object="${beneficio}"
							method="GET">
							<div class="row g-3 align-items-center">
								<div class="col-4 text-end">
									<label for="inputIdCompra" class="col-form-label">Beneficios</label>
								</div>
								<div class="col-8">
									<select name="opcion" onchange="if(this.value!='empty') {document.getElementById('select').disabled = false} else {document.getElementById('select').disabled = true}" class="form-select" id="descripcion" th:field="*{descripcion}">
										<option selected value="empty">Seleccione una opción</option>
										<option th:each="bene : ${beneficios}" th:text="${bene.descripcion}" th:value="${bene.descripcion}"></option>
									</select>
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('descripcion')}"
										th:errors="*{descripcion}"></div>
								</div>
								<div class="text-center">
									<input id="select" name="opcion" disabled class="btn btn-outline-success" type="submit" value="Agregar Beneficio">
								</div>
							</div>
						</form>
						<div class="container pt-3">
							<div class="row align-items-center">
								<div th:each="b : ${beneficiosAgregados}"
									class="shadow col-6 toast-header border rounded bg-info text-white">
									<strong th:text="${b.descripcion}" class="me-auto form-text"></strong>
									<a th:href="@{/beneficio/quitaropcion/}+${b.id}" class="btn-close"></a>
								</div>
							</div>
						</div>	
						<h2 class="text-center pt-3 pb-3">Datos del Cliente</h2>
						<form th:action="@{/cliente/guardar}" th:object="${cliente}"
							method="POST">
							<div class="row g-3 align-items-center">
								<div class="col-4 text-end">
									<label for="inputId" class="col-form-label">ID Cliente</label>
								</div>
								<div class="col-8">
									<input type="number" id="inputId" class="form-control"
										th:field="*{id}" th:readonly="readonly">
								</div>
								<div class="col-4 text-end">
									<label for="inputDocumento" class="col-form-label">Tipo
										de Documento</label>
								</div>
								<div class="col-8">
									<select class="form-select" th:field="*{tipoDocumento}">
										<option selected value="">Seleccione una opción</option>
										<option value="dni">Documento Nacional de Identidad</option>
										<option value="pasaporte">Pasaporte</option>
									</select>
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('tipoDocumento')}"
										th:errors="*{tipoDocumento}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputNum" class="col-form-label">Numero
										Documento</label>
								</div>
								<div class="col-8">
									<input type="number" id="inputNum" class="form-control"
										th:field="*{nroDocumento}" required>
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('nroDocumento')}"
										th:errors="*{nroDocumento}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputNombre" class="col-form-label">Nombre
										y Apellido</label>
								</div>
								<div class="col-8">
									<input type="text" id="inputNombre" class="form-control"
										th:field="*{nombreApellido}">
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('nombreApellido')}"
										th:errors="*{nombreApellido}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputEmail" class="col-form-label">Correo
										Electrónico</label>
								</div>
								<div class="col-8">
									<input type="text" id="inputEmail" class="form-control"
										th:field="*{email}">
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputPassword" class="col-form-label">Contraseña</label>
								</div>
								<div class="col-8">
									<input type="password" id="inputPassword" class="form-control"
										th:field="*{password}">
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputFechaNac" class="col-form-label">Fecha
										de Nacimiento</label>
								</div>
								<div class="col-8">
									<input type="date" id="inputFechaNac" class="form-control"
										th:field="*{fechaNacimiento}">
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('fechaNacimiento')}"
										th:errors="*{fechaNacimiento}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputCodArea" class="col-form-label">Código
										de Area</label>
								</div>
								<div class="col-8">
									<input type="number" id="inputCodArea" class="form-control"
										th:field="*{codigoAreaTelefono}">
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('codigoAreaTelefono')}"
										th:errors="*{codigoAreaTelefono}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputNroTelefono" class="col-form-label">Número
										de Teléfono</label>
								</div>
								<div class="col-8">
									<input type="number" id="inputNroTelefono" class="form-control"
										th:field="*{nroTelefono}">
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('nroTelefono')}"
										th:errors="*{nroTelefono}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputFechaUltCompre" class="col-form-label">Fecha
										Última Compra</label>
								</div>
								<div class="col-8">
									<input type="date" id="inputFechaUltCompra"
										class="form-control" th:field="*{fechaUltimaCompra}">
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('fechaUltimaCompra')}"
										th:errors="*{fechaUltimaCompra}"></div>
								</div>
							</div>
							<h2 class="text-center pt-3 pb-3">Datos Cuenta del Cliente</h2>
							<div class="row g-3 align-items-center">
								<div class="col-4 text-end">
									<label for="inputIdCompra" class="col-form-label">ID
										Cuenta</label>
								</div>
								<div class="col-8">
									<input type="text" id="inputIdCuenta" class="form-control"
										th:field="*{cuenta.id}" th:readonly="readonly">
								</div>
								<div class="col-4 text-end">
									<label for="inputIdCuenta" class="col-form-label">Saldo
										de Cuenta</label>
								</div>
								<div class="col-8">
									<input type="number" id="inputSaldo" class="form-control"
										th:field="*{cuenta.saldo}">
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('cuenta.saldo')}"
										th:errors="*{cuenta.saldo}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputFechaCrea" class="col-form-label">Fecha
										de Creación</label>
								</div>
								<div class="col-8">
									<input type="date" id="inputFechaCrea" class="form-control"
										th:field="*{cuenta.fechaCreacion}">
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('cuenta.fechaCreacion')}"
										th:errors="*{cuenta.fechaCreacion}"></div>
								</div>

								<div class="col-4 text-end">
									<label for="inputIdCompra" class="col-form-label">Estado
										de Cuenta</label>
								</div>
								<div class="col-8">
									<select class="form-select" id="estadoCuenta"
										th:field="*{cuenta.estado}">
										<option selected value="">Seleccione una opción</option>
										<option value="activa">Activa</option>
										<option value="inactiva">Inactiva</option>
									</select>
								</div>
								<!-- Mensaje Validador -->
								<div class="row justify-content-end">
									<div class="col-8 form-text text-danger"
										th:if="${#fields.hasErrors('cuenta.estado')}"
										th:errors="*{cuenta.estado}"></div>
								</div>
							</div>
							<div class="d-grid gap-2 mt-3">
								<input class="btn btn-outline-success" type="submit"
									id="liveToastBtn" value="Guardar"> <input
									class="btn btn-outline-danger" type="reset" value="Cancelar">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<aside th:insert="layout/publicidad :: aside"></aside>
			</div>
		</div>
	</div>
	<div th:insert="layout/footer :: footer"></div>
</body>
</html>